<form class="reset-password-form">
  
  <div class="form-header">
    <h2>Reset your password</h2>
    <p class="header-text">Enter your new password below.</p>
  </div>
  
  <div class="password-input-wrapper" style="position: relative; width: 100%;">
    <app-input-component class="form-input w-100" type="password" height="35px" placeholder="New password"></app-input-component>
    <img [src]="newPasswordVisible ? '/assets/icons/show.png' : '/assets/icons/hide.png'" class="password-toggle" (click)="togglePassword('new')" alt="Toggle password visibility"/>
  </div>
  <div class="password-input-wrapper" style="position: relative; width: 100%;">
    <app-input-component class="form-input w-100" type="password" height="35px" placeholder="Confirm new password"></app-input-component>
    <img [src]="confirmPasswordVisible ? '/assets/icons/show.png' : '/assets/icons/hide.png'" class="password-toggle" (click)="togglePassword('confirm')" alt="Toggle password visibility"/>
  </div>

  <div class="form-footer">
    <app-button width="450px" height="35px" variant="primary" fontWeight="700" textTransform="uppercase" text="Reset password"></app-button>
    <a routerLink="/login">Back to login</a>
  </div>

</form>
