#map {
  width: 100%;
  height: 100%;
  min-height: 300px;
  z-index: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

.map-col-height, .form-col-height {
  height: 100%;
}
