#map {
  width: 100%;
  height: 100%;
  min-height: 300px;
  z-index: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

.map-col-height, .form-col-height {
  height: 100%;
}

.alert-route {
  animation: pulse-route 1.5s ease-in-out infinite;
}

@keyframes pulse-route {
  0%, 100% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.6;
  }
}
