
.input-focus {
  border-radius: 0.375rem;    
  transition: border 0.2s ease;
  box-shadow: none;
}

.input-focus:focus {
  border: 2px solid #000; 
  outline: none;
}

.avatar {
  width: 110px;
  height: 110px;
  cursor: pointer;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-overlay {
  background: rgba(0,0,0,0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.avatar:hover .avatar-overlay {
  opacity: 1;
}
