<form class="login-form">
  
  <div class="form-header">
    <h2>Welcome back</h2>
    <p class="header-text">Sign in to your Ride Now account</p>
  </div>
  
  <app-input-component class="form-input w-100" type="email" height="35px" placeholder="Email address" [value]="email" (valueChange)="email = $event"></app-input-component>
  <div class="error" *ngIf="email && !validator.isEmailValid(email)"> Email is not valid</div>
  <div class="password-input-wrapper" style="position: relative; width: 100%;">
    <app-input-component class="form-input w-100" type="password" height="35px" placeholder="Password" [value]="password" (valueChange)="password = $event"></app-input-component>
    <img [src]="passwordVisible ? '/assets/icons/show.png' : '/assets/icons/hide.png'" class="password-toggle" (click)="togglePassword()" alt="Toggle password visibility"/>
  </div>
  <div class="error" *ngIf="password && !validator.isPasswordValid(password)"> Password must be at least 6 characters</div>
  <a routerLink="/forgot-password" class="forgot-password">Forgot password?</a>
  
  <div class="form-footer">
    <app-button width="450px" height="35px" variant="primary" fontWeight="700" textTransform="uppercase" text="Log in" [disabled]="hasErrors()"></app-button>
    <p class="signup-link"> Don’t have an account? <a routerLink="/registration">Sign up</a></p>
  </div>

</form>