.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header h2{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.form-header p{
  font-size: 20px; 
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .form-header p{
    font-size: 24px;
  }
}

.forgot-password{
  align-self: flex-start;
  margin-left: 11px;
  margin-top: 8px;
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.form-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-footer p{
  margin-top: 5px;
  font-weight: 300;
}

.form-footer p a{
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.password-input-wrapper {
  position: relative;
  margin-top: 30px;
}

.password-input-wrapper .password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}
