.vehicle-form {
  margin-top: 32px;
}

.section-title {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.indicators {
  display: flex;
  align-items: center;
  gap: 190px;
}

.toggle-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  gap: 12px; 
}

.toggle-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: relative;
  width: 50px; 
  height: 24px; 
  background-color: #ccc;
  border-radius: 12px;
  transition: 0.3s;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-label input:checked + .toggle-slider {
  background-color: #4caf50; 
}

.toggle-label input:checked + .toggle-slider::before {
  transform: translateX(26px); 
}
.form-select {
  width: 100%;
  height: 35px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
  border-color: #080808;

}
.form-select:focus {
  border-color: #080808;
  border: 2px solid #000;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

