.input{
    border-radius: 8px;
    border: 1px solid;
    padding-left: 11px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
}

.input.primary{
    background-color: white;
    color: black;
    border-color: black;
}

.input.secondary{
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
    border-color: white;
}