.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon{
  margin-left: 3vh;
}

.navbar-collapse {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: visibility 0s linear 0.35s, opacity 0.1s ease, max-height 0.75s ease-in;
  z-index: 100000;
}

.navbar-collapse.show {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transition: visibility 0s linear 0s, opacity 0.1s ease, max-height 0.75s ease-out;
}


.text-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40%;
}

.form-text h2{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.form-text p{
  font-size: 20px; 
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .text-header p{
    font-size: 24px;
  }
}

#message{
  margin-top:3%;
}
