<div class="welcome-form-section row m-0">
    <div class="col-12 d-flex justify-content-center align-items-center bg-black text-white rounded-4 custom-form-container">
        <div class="welcome-form-container text-center p-4">
            <div class="welcome-text-container">
                <h1 class="welcome-title">Welcome to RideNow</h1>
                <h2 class="welcome-subtitle">find your next ride</h2>
            </div>
            <app-button *ngIf="!isLoggedIn" routerLink="/ride-estimation" width="90%" height="35px" variant="secondary" fontWeight="700" textTransform="uppercase" text="Get Ride Estimate"></app-button>
            <app-button *ngIf="isLoggedIn" routerLink="/ride-ordering" width="90%" height="35px" variant="secondary" fontWeight="700" textTransform="uppercase" text="Order Ride"></app-button>
        </div>
    </div>
</div>
