<div class="px-5 pb-5">
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th scope="col" class="sortable" (click)="sort('route')">
            Route <span class="sort-icon">{{ getSortIcon('route') }}</span>
          </th>
          <th scope="col" class="sortable" (click)="sort('startTime')">
            Start time <span class="sort-icon">{{ getSortIcon('startTime') }}</span>
          </th>
          <th scope="col" class="sortable" (click)="sort('endTime')">
            End time <span class="sort-icon">{{ getSortIcon('endTime') }}</span>
          </th>
          <th scope="col" class="sortable" (click)="sort('cancelled')">
            Cancelled <span class="sort-icon">{{ getSortIcon('cancelled') }}</span>
          </th>
           <th scope="col" class="sortable" (click)="sort('price')">
            Cost <span class="sort-icon">{{ getSortIcon('price') }}</span>
          </th>
          <th scope="col" class="sortable" (click)="sort('panicButton')">
            Panic Button <span class="sort-icon">{{ getSortIcon('panicButton') }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (ride of rides; track ride.id) {
          <tr class="clickable-row" (click)="viewRideDetails(ride)">
            <td>{{ ride.route }}</td>
            <td>{{ ride.startTime }}</td>
            <td>{{ ride.endTime }}</td>
            <td>
              @if (ride.cancelled) {
                <span class="badge bg-danger">{{ ride.cancelled }}</span>
                @if (ride.cancelledBy) {
                  <br>
                  <small>{{ ride.cancelledBy }}</small>
                }
              } @else {
                <span>N/A</span>
              }
            </td>
            <td>{{ ride.price }}</td>
            <td>
              @if (ride.panicButton) {
                <span class="badge bg-danger">{{ ride.panicButton }}</span>
                @if (ride.panicBy) {
                  <br>
                  <small>{{ ride.panicBy }}</small>
                }
              } @else {
                <span>N/A</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
