.button {
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  transition: background-color 0.25s ease, color 0.25s ease;
}


@media (max-width: 576px) {
  .button {
    height: 40px;
  }
}

.button.primary {
  background-color: #000;
  color: #fff;
}

.button.primary:hover {
  background-color: #2b2b2b;
}

.button.secondary {
  background-color: #ffff;
  color: #000;
}

.button.secondary:hover {
  background-color: #cfcfcf;
}

.button.danger {
  background-color: #dc3545;
  color: #fff;
}

.button.danger:hover {
  background-color: #b52a37;
}

.button.ghost {
  background-color: transparent;
  color: #000;
  border: 1px solid #ccc;
}

.button.ghost:hover {
  background-color: #f2f2f2;
}

.button.outline {
  background-color: transparent;
  color: white;
  border: 1px solid #ccc;
}

.button.outline:hover {
  background-color: #f2f2f2;
  color: black;
}
