.button {
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid transparent;
  width: 100%;
}

@media (max-width: 576px) {
  .button {
    height: 40px; 
  }
}

.button.primary {
  background-color: black;
  color: white;
}

.button.primary:hover {
  background-color: white;
  color: black;
  border-color: black;
  transition-duration: 700ms;
}