<form class="forgot-password-form">
  
  <div class="form-header">
    <h2>Forgot your password?</h2>
    <p class="header-text">We’ll send you a link to reset your password.</p>
  </div>
  
  <app-input-component class="form-input w-100" type="email" height="35px" placeholder="Email address"></app-input-component>
  <div class="form-footer">
    <app-button width="450px" height="35px" variant="primary" fontWeight="700" textTransform="uppercase" text="send reset link"></app-button>
    <a routerLink="/login">Back to login</a>
  </div>
</form>