.forgot-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header h2{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.form-header p{
  font-size: 20px; 
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .form-header p{
    font-size: 24px;
  }
}

.form-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-footer a{
  margin-top: 5px;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}