.vh-70 {
  height: 70vh;
}

#map {
  z-index: 1;
}

input.bg-black::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

input.bg-black:focus {
  background-color: #00000000;
  border-color: #fff;
  color: #fff;
}
