.vh-70 {
  height: 70vh;
}

/* Column heights: fixed on mobile, 100% on desktop */
.map-col-height,
.form-col-height {
  height: 400px;
}

/* Responsive height: viewport height on desktop only */
@media (min-width: 768px) {
  .row-height {
    height: 70vh;
    min-height: 500px;
  }

  .map-col-height,
  .form-col-height {
    height: 100%;
  }
}

#map {
  z-index: 1;
}

input.bg-black::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

input.bg-black:focus {
  background-color: #00000000;
  border-color: #fff;
  color: #fff;
}
